.footer{
    height: 10rem;
    background-color: #181818;
    color: white;
    padding: 2rem 2rem;
}
p{
    margin-bottom: 0px;
    margin-left: 0.5rem;
}
.icon{
    font-size: 1.5rem;
}
.btn-cont{
    color: white;
    border: 1px solid white;
}
.copy-right{
    font-size: 0.6rem;
}
a{
    color: white;
    margin-left: 0.5rem;
}